<!DOCTYPE html>
<html>
   <body>
   
      <h3>Login Page</h3>
      <hr/>
  
      <form action = "{{ request.path }}" method = "post">
         <label for = "uuid">uuid</label><br>
         <input type = "text" name = "uuid" placeholder = "uuid" /><br>
         <label for = "os">os</label><br>
         <input type = "text" name = "os" placeholder = "os" /><br>
         <label for = "ip">ip</label><br>
         <input type = "text" name = "ip" placeholder = "ip" /><br>
         <label for = "browser">browser</label><br>
         <input type = "text" name = "browser" placeholder = "browser" /><br><br>
         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html> 
 
